<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moxtra.moxiechat">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MoxieChatApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements"/>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChatListActivity"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.example.gcm"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <activity android:name=".ChatActivity" />
        <activity android:name=".MeetActivity" />
        <activity android:name=".MentionsActivity" />
        <activity android:name=".MyTodosActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <service android:name=".MoxtraNotificationService"/>

        <receiver
            android:name="com.moxtra.binder.ui.notification.MXPushBroadcastReceiver"
            android:process=":remote"
            android:exported="false">
            <intent-filter>
                <action android:name="com.moxtra.push.intent.RECEIVE"/>
                <category android:name="${packageName}"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.moxtra.binder.ui.notification.MXRemoteNotificationService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter android:priority="1000">
                <action android:name="moxtra.intent.action.START_NOTIFICATION"/>
            </intent-filter>
        </service>
        <service
            android:name="com.moxtra.binder.ui.notification.MXRemoteNotificationService$InnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote"/>
        <service
            android:name="com.moxtra.binder.ui.notification.WakefulAlarmReceiver$WakeNotifyService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.moxtra.binder.ui.notification.WakefulAlarmReceiver$WakeInnerService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".GcmIIDListenerService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".GcmRegistrationService"
            android:exported="false">
        </service>
    </application>

</manifest>